/* ------------------ GENERAL ----------------------- */
html {
    font-family: "Average Sans", "Calibri", sans-serif;
    font-size: 16px;
    color: #00171f;
    text-align: center;
}

h2 {
    font-family: "Goudy Bookletter 1911", "Palatino", serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: "Goudy Bookletter 1911", "Palatino", serif;
    font-size: 1.5rem;
}

h4 {
    font-family: "Goudy Old Style", serif;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #00a8e8;
}

a:hover {
    color: #90e0ef;
}

a:visited {
    color: #03045e;
}

body {
    background-color: #ffffff;
    opacity: 0.9;
    background-image: linear-gradient(#E8F1F2 1px, transparent 1px), linear-gradient(to right, #E8F1F2 1px, #ffffff 1px);
    background-size: 20px 20px;
    margin: 0;
}

main {
    padding: 0 5%;
    margin: 0 0 4rem 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

section {
    width: 100%;
}

.textbox {
    background-color: white;
    border: 2px solid #00171f;
    padding: 1rem;
    margin-bottom: 4rem;
}

img {
    border-radius: 100%;
}

.mobile, .tablet {
    display: none;
}